---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.css"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
/* https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html */
/*!
 * Soothing pastel theme for Marp / Marpit.
 *
 * @theme catppuccin-{{ flavor.identifier }}
 * @author Catppuccin Org
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
@import-theme "default";
&.hljs {
  color: {{ text.hex }};
  background: {{ base.hex }};
}

.hljs-keyword {
  color: {{ mauve.hex }};
}

.hljs-built_in {
  color: {{ red.hex }};
}

.hljs-type {
  color: {{ yellow.hex }};
}

.hljs-literal {
  color: {{ peach.hex }};
}

.hljs-number {
  color: {{ peach.hex }};
}

.hljs-operator {
  color: {{ sky.hex }};
}

.hljs-punctuation {
  color: {{ subtext1.hex }};
}

.hljs-property {
  color: {{ teal.hex }};
}

.hljs-regexp {
  color: {{ pink.hex }};
}

.hljs-string {
  color: {{ green.hex }};
}

.hljs-char.escape_ {
  color: {{ green.hex }};
}

.hljs-subst {
  color: {{ subtext0.hex }};
}

.hljs-symbol {
  color: {{ flamingo.hex }};
}

.hljs-variable {
  color: {{ mauve.hex }};
}

.hljs-variable.language_ {
  color: {{ mauve.hex }};
}

.hljs-variable.constant_ {
  color: {{ peach.hex }};
}

.hljs-title {
  color: {{ blue.hex }};
}

.hljs-title.class_ {
  color: {{ yellow.hex }};
}

.hljs-title.function_ {
  color: {{ blue.hex }};
}

.hljs-params {
  color: {{ text.hex }};
}

.hljs-comment {
  color: {{ overlay2.hex }};
}

.hljs-doctag {
  color: {{ red.hex }};
}

.hljs-meta {
  color: {{ peach.hex }};
}

.hljs-section {
  color: {{ blue.hex }};
}

.hljs-tag {
  color: {{ teal.hex }};
}

.hljs-name {
  color: {{ mauve.hex }};
}

.hljs-attr {
  color: {{ blue.hex }};
}

.hljs-attribute {
  color: {{ green.hex }};
}

.hljs-bullet {
  color: {{ teal.hex }};
}

.hljs-code {
  color: {{ green.hex }};
}

.hljs-emphasis {
  color: {{ red.hex }};
  font-style: italic;
}

.hljs-strong {
  color: {{ red.hex }};
  font-weight: bold;
}

.hljs-formula {
  color: {{ teal.hex }};
}

.hljs-link {
  color: {{ sapphire.hex }};
  font-style: italic;
}

.hljs-quote {
  color: {{ green.hex }};
  font-style: italic;
}

.hljs-selector-tag {
  color: {{ yellow.hex }};
}

.hljs-selector-id {
  color: {{ blue.hex }};
}

.hljs-selector-class {
  color: {{ teal.hex }};
}

.hljs-selector-attr {
  color: {{ mauve.hex }};
}

.hljs-selector-pseudo {
  color: {{ teal.hex }};
}

.hljs-template-tag {
  color: {{ flamingo.hex }};
}

.hljs-template-variable {
  color: {{ flamingo.hex }};
}

.hljs-addition {
  color: {{ green.hex }};
  background: {{ green | mod(opacity=0.15) | css_rgba }};
}

.hljs-deletion {
  color: {{ red.hex }};
  background: {{ red | mod(opacity=0.15) | css_rgba }};
}

:root {
  /* github-markdown-css variables */
  --bgColor-attention-muted: {{ peach | mod(opacity=0.15) | css_rgba }};
  --bgColor-default: {{ base.hex }};
  --bgColor-muted: {{ surface0.hex }};
  --bgColor-neutral-muted: {{ overlay0.hex }};
  --borderColor-accent-emphasis: {{ red.hex }};
  --borderColor-attention-emphasis: {{ peach.hex }};
  --borderColor-danger-emphasis: {{ red.hex }};
  --borderColor-default: {{ surface0.hex }};
  --borderColor-done-emphasis: {{ mauve.hex }};
  --borderColor-muted: {{ surface0.hex }};
  --borderColor-success-emphasis: {{ green.hex }};
  --fgColor-accent: {{ red.hex }};
  --fgColor-attention: {{ yellow.hex }};
  --fgColor-danger: {{ red.hex }};
  --fgColor-default: {{ text.hex }};
  --fgColor-done: {{ mauve.hex }};
  --fgColor-muted: {{ subtext1.hex }};
  --fgColor-success: {{ green.hex }};
  /* Marp default theme variables */
  --h1-color: {{ red.hex }};
  --header-footer-color: {{ surface1.hex }};
  --heading-strong-color: {{ red.hex }};
  --paginate-color: {{ overlay0.hex }};
}

section h1 {
  color: {{ red.hex }};
}
section h2 {
  color: {{ peach.hex }};
}
section h3 {
  color: {{ yellow.hex }};
}
section h4 {
  color: {{ green.hex }};
}
section h5 {
  color: {{ sapphire.hex }};
}
section h6 {
  color: {{ lavender.hex }};
}
section a {
  color: {{ blue.hex }};
}
section table thead th {
  background: var(--bgColor-muted);
  color: var(--fgColor-muted);
}
section table tbody > tr:nth-child(2n) td,
section table tbody > tr:nth-child(2n) th {
  background: var(--bgColor-default);
  color: var(--fgColor-default);
}
section .markdown-alert.markdown-alert-note {
  border-left-color: {{ blue.hex }};
}
section .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: {{ blue.hex }};
}
section {
  /* Lead class taken from Marp builtin Gaia theme */
}
section:where(.lead) {
  place-content: safe center center;
  /* Definitions for classic behavior: Users can adopt flex centering by tweaking style `section.lead { display: flex }` */
  flex-flow: column nowrap;
  align-items: stretch;
}
section:where(.lead) h1,
section:where(.lead) h2,
section:where(.lead) h3,
section:where(.lead) h4,
section:where(.lead) h5,
section:where(.lead) h6 {
  text-align: center;
}
section:where(.lead) {
  /* stylelint-disable-next-line no-descending-specificity */
}
section:where(.lead) p {
  text-align: center;
}
section:where(.lead) blockquote > h1,
section:where(.lead) blockquote > h2,
section:where(.lead) blockquote > h3,
section:where(.lead) blockquote > h4,
section:where(.lead) blockquote > h5,
section:where(.lead) blockquote > h6,
section:where(.lead) blockquote > p {
  text-align: left;
}
section:where(.lead) ul > li > p,
section:where(.lead) ol > li > p {
  text-align: left;
}
section:where(.lead) table {
  margin-left: auto;
  margin-right: auto;
}
